[include]
	path = ~/.gitcredentials

[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[diff]
	tool = nvimdiff

[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[difftool]
	prompt = false

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	cm = commit
	cp = cherry-pick
	cpa = cherry-pick --abort
	br = branch
	bra = branch -a
	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	rba = rebase --abort
	dif = diff
	ush = push
	ull = pull
	ulll = pull
	pul = pull
	pulll = pull
	pra = fetch --all
	pulum = pull upstream master
	bs = bisect
	bsg = bisect good
	bsb = bisect bad

[push]
	default = simple

[rebase]
	autosquash = true

[log]
	showRoot = false

[fetch]
	prune = true
