[include]
	path = ~/.gitcredentials

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global

[color]
	ui = auto

[alias]
	ad = add
	addd = add
	st = status
	ls = status
	co = checkout
	cm = commit
	cma = commit --amend --no-edit
	cmaa = commit -a --amend --no-edit
	cm-m = commit -m
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	br = branch
	bra = branch -a
	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	rba = rebase --abort
	rbs = rebase --skip
	rv = revert
	rva = revert --abort
	rvc = revert --continue
	rh = reset HEAD
	rhh = reset HEAD~
	dif = diff
	ush = push
	ull = pull
	tpush = push
	tpull = pull
	ulll = pull
	pul = pull
	pulll = pull
	pra = fetch --all
	push-f = push -f
	pulum = pull upstream master
	bs = bisect
	bsg = bisect good
	bsb = bisect bad
	sohw = show
	rmeote = remote
	unstash = stash pop
	sm = submodule
	smi = submodule init
	smu = submodule update
	tree = log --oneline --decorate --graph --all

[push]
	default = simple
	followTags = true

[rebase]
	autosquash = true
	autostash = true
	missingCommitsCheck = error
	stat = true

[log]
	showRoot = false

[fetch]
	prune = true

[clean]
	requireForce = false

[merge]
	ff = only

[diff]
	tool = nvimdiff

[difftool]
	prompt = false

[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
