! Mainly URxvt configuration
!
! List all options with their respective descriptions:
!  man -Pcat urxvt | sed -n '/th: b/,/^B/p'|sed '$d'|sed '/^ \{7\}[a-z]/s/^ */^/g' | sed -e :a -e 'N;s/\n/@@/g;ta;P;D' | sed 's,\^\([^@]\+\)@*[\t ]*\([^\^]\+\),! \2\n! URxvt*\1\n\n,g' | sed 's,@@\(  \+\),\n\1,g' | sed 's,@*$,,g' | sed '/^[^!]/d' | tr -d "'\`"


URxvt*font: xft:Source\ Code\ Pro\ Medium:pixelsize=13:antialias=true:hinting=true,xxft:Source\ Code\ Pro\ Medium:pixelsize=13:antialias=true:hinting=true
! URxvt*font: xft:FontAwesome

URxvt*background: #242424
URxvt*foreground: white


! Terminal type to be set in the $TERM env variable
!URxvt*termName: urxvt

! Specify default lines an columns
URxvt*geometry: 240x84

URxvt*scrollColor: #777777
URxvt*scrollstyle: plain

! scroll to bottom when on non-special key press
URxvt*scrollTtyKeypress: true

! Do not scroll to bottom when tty receives output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer
URxvt*scrollWithBuffer: true

! When on a secondary screen (e.g. less), scroll inside the pager itself rather than the built in one 
URxvt*secondaryScreen: true
URxvt*secondaryScroll: false

! Who the hell needs the scrollbar anyway
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollBar_floating: false

! Fade when focus is lost
URxvt*fading: 5

URxvt*mouseWheelScrollPage: false

! Change the color of underlined characters
URxvt*colorUL: yellow
URxvt*underlineColor: yellow

! Number of lines to save in the scrollback buffer
URxvt*buffered: true
URxvt*saveLines: 65535

URxvt*perl-ext: selection-to-clipboard
URxvt*perl-ext-common:

! change to light scheme
URxvt.keysym.C-8: command:\033]12;black\007\033]11;#ffffff\007\033]10;#000000\007
! change to dark scheme
URxvt.keysym.C-9: command:\033]12;white\007\033]11;#242424\007\033]10;#ffffff\007

! Disable physically printing the terminal with PrntScrn
URxvt.print-pipe: command:\000

! vim: cms=!%s:
